<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TicTacToe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F455F171DDF60B000C5E62B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F455F2B1DDF60B000C5E62B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F455F361DDF60B000C5E62B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
